body {
  background-color: #fff8f0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #55206d;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #190d37;
  margin-top: 10px;
  margin-bottom: 30px;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.over-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2858FF;
    text-align: center;
}

.big-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #331e6a;
  }

#hero-section-div {
    display: flex;
    max-width: 1440px;
    min-width: 800px;
    margin: 0px auto 48px auto;
}

#hero-text-div {
    width: 50%;
    padding: 32px 20px;
}

.contact-info {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    cursor: pointer;
}

#hi-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #291854;
    margin-top: 48px;   
}

#contact-button {
    width: 138px;
    height: 44px;
    background: #2F2F2F;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    color: #FFFFFF;
}

#hero-img-div {
    width: 50%;
}

#hero-img {
    width: 100%;
}

#what-i-do-section-div {
    max-width: 1060px;
    min-width: 800px;
    margin: 48px auto;
}

#my-procject-section-div {
    max-width: 1060px;
    min-width: 800px;
    margin: 48px auto;
}

#pricing-section-div {
    max-width: 1060px;
    min-width: 800px;
    margin: 48px auto;
}

#questions-section-div {
    max-width: 1060px;
    min-width: 800px;
    margin: 48px auto;
}

#footer-div {
    width: 1440px;
    height: 58px;
    background: #000000;
}

#footer-div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
}